body {
    background: url("../images/cooking-tools.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}


h3, h6 {
    text-align: center;
}

h1 {
    text-align: center;
    margin-top: 200px;
}

.login-form {
    text-align: center;
    padding-top: 20px;
}

/*------------------------View Page-----------------------*/

.heading {
    text-align: center;
}

.large-heading {
    font-size: 20px;
    padding-top: 20px;
}

.small-headings {
    padding-top: 20px;
}

/*-------------------------Small Buttons--------------------*/

.button {
    height: 24px;
    width: 80px;
    line-height: 24px;
    margin: 6px 6px;
    padding: 0 0.5em;

}

.small-buttons {
    text-align: right;
}

.view-button, .edit-button {
    background-color: #5DADE2;
}

.view-button:hover, .edit-button:hover {
    background-color: #2E86C1;
    color: white;
}

.remove-button {
    background-color: #EC7063; 
}

.remove-button:hover {
    background-color: #CB4335;
    color: white;
}




/*-------------------------Big Buttons---------------*/



.add_recipe_button,
.update_recipe_button {
    text-align: center;
}

.edit_recipe_button {
    text-align: center;
    padding-top: 35px;
}



/*-------------------------Navbar-------------------------*/
.navbar {
    margin: 0;
    padding: 0;
}

.bg-color-navbar {
    background-color: #E99D6B;
}

.navbar-default .navbar-brand {
    color: #F1EEEC;
    padding-top: 25px;
    font-size: 22px;
    transition: color 0.7s ease-in-out;
    -o-transition: color 0.7s ease-in-out;
    -moz-transition: color 0.7s ease-in-out;
    -webkit-transition: color 0.7s ease-in-out;
}


.navbar-default .navbar-brand:hover {
    color: #3B3B3A;
}


.navbar-default .navbar-nav>li>a {
    color: #F1EEEC;
    padding-top: 25px;
    transition: color 0.7s ease-in-out;
    -o-transition: color 0.7s ease-in-out;
    -moz-transition: color 0.7s ease-in-out;
    -webkit-transition: color 0.7s ease-in-out;
 }
  
    
.navbar-default .navbar-nav>li>a:hover {
    color: #3B3B3A;
}
