{% extends 'base.html' %} 

    {% block content %}
    
    <h3>CATEGORIES</h3>
    
    <div class="row">
    <a href="" class="waves-effect waves-light btn"><i class="material-icons right">edit</i>ADD CATEGORY</a>
    </div>    
    <ul class="collapsible" data-collapsible="accordion">
      {% for category in categories %}
    <li>
      <div class="collapsible-header">
        <div class="col s9">
          <strong>{{category.category_name}}</strong>
        </div>
        <div class="col s3 home_buttons">
           <a href="{{url_for('edit_category', category_id=category._id)}}" class="waves-effect waves-light btn button blue">EDIT</a>
           <a href="{{url_for('delete_category', category_id=category._id)}}" class="waves-effect waves-light btn button red">REMOVE</a>
        </div>
      </div>
    </li>
      {% endfor %}
    </ul>
    
    {% endblock %}