{% extends 'base.html' %} 

    {% block content %}
    
    <h3>CUISINES</h3>
    
    <!--Add Cuisine Button-->
    <div class="row">
    <a href="{{url_for('add_cuisine')}}" class="waves-effect waves-light btn"><i class="material-icons right">edit</i>ADD CUISINE</a>
    </div>
    <!--/.Add Cuisine Button-->
    
    <!--List Of Cuisines-->
    <ul class="collapsible" data-collapsible="accordion">
      {% for cuisine in cuisines %}
      <li>
        <div class="collapsible-header">
          <div class="col-md-12">
          <strong>{{cuisine.cuisine_name}}</strong>
          </div>
          <div class="col-md-12 col-xs-12 small-buttons">
          <a href="{{url_for('edit_cuisine', cuisine_id=cuisine._id)}}" class="waves-effect waves-light btn button edit-button">EDIT</a>
          <a href="{{url_for('delete_cuisine', cuisine_id=cuisine._id)}}" class="waves-effect waves-light btn button remove-button">REMOVE</a>
          </div>
        </div>
      </li>
      {% endfor %}
    </ul>
    <!--/.List Of Cuisines-->
    
    {% endblock %}