<!DOCTYPE html>
<html>
    <head>
        <title>COOK BOOK</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" type="text/css" />
        <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}" type="text/css"/>
        <link rel="stylesheet" href="{{url_for('static', filename='images/cooking-tools.jpg')}}" type="text/css"/>   
    </head>
    <body>
        <div class="container">
            <h1>Welcome to 'COOK BOOK'</h1>
                <form class="login-form" method="POST">
                    <label for="username">Username:</label>
                    <input type="text" id="username" name="username">
                    <button>Login</button>
                </form>
        </div>
        <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script> 
    </body>
</html>